.shopCarousel-container {
  width: 90%;
  max-width: 1440px;

  margin: 0 auto;

  .product-item {
    padding: 0.5em;
    margin-bottom: 2em;
    text-align: center;
    padding : 0 auto;
    margin: 0 auto;

    .product-card {
      padding: 0.5em;
    }
    .card-brand {
      padding-top: 1rem;
    }
  }
  
}

@media (max-width: 768px) {
  .shopCarousel-container {
    width: 80%;
  }
}
