.carousel-container {
  max-width: 1440px;
  margin: 0 auto;

  .keen-slider {
    display: flex;
    overflow: hidden;
  }

  .keen-slider__slide {
    padding: 0 5px; // spacing léger
    display: flex;
    justify-content: center;
    margin: 0 auto;
    align-content: center;
  }
}
