.counter_wrapper {
  // max-width: 1440px;
  width: 100%;
  background: #f0f7f4;
  margin: 0 auto;
  padding: 9em 0em 9em 0em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 20vh;
  background-image: url("../../../public/assets/homepage/cadre.webp");
  background-size: cover;

  .row {
    gap: 2em;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .count_box {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 13rem;
    padding: 2.5rem;
    min-height: 8rem;
    border: 1px solid #ffffff34;
    text-align: center;
    border-radius: 0.5em;
    background: #760498;
    transition: all 0.5s;
    box-shadow: 0 1px 10px 0 #0404e0;
  }
  .count_box h3 {
    font-size: 40px;
    font-weight: 600;
    color: #ffffff;
    transition: all 0.5s;
  }
  .count_box h4 {
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    color: #ffffff;
    padding-top: 10px;
    transition: all 0.5s;
  }
  .box_center {
    background: var(--sunset1);
  }
  .box_hover:hover h3,
  .box_hover:hover h4 {
    scale: 1.2;
  }
}

@media (max-width: 1024px) {
  .counter_wrapper {
    height: 10vh;
    .count_box {
      width: 11em;
      padding: 2em;
    }
  }
}
@media (max-width: 900px) {
  .counter_wrapper {
    height: 7vh;
    .count_box {
      width: 9em;
      padding: 2em;
    }
  }
}
@media (max-width: 800px) {
  .counter_wrapper {
    height: 6vh;
    .count_box {
      width: 7em;
      padding: 2em;
    }
  }
}

@media (max-width: 600px) {
  .counter_wrapper {
    height: 5vh;
    .count_box {
      width: 5em;
      padding: 2em;
    }
  }
}

@media (max-width: 450px) {
  .counter_wrapper {
    height: 3vh;
    .count_box {
      width: 2em;
      padding: 2em;
      h3 {
        font-size: 1.9em;
      }
      h4 {
        font-size: 0.8em;
      }
    }
  }
}
