.homepageHeroContainer {
  height: 110vh;
  background:
    linear-gradient(
      360deg,
      #000000fb 10%,
      rgba(22, 24, 26, 0.346) 35%,
      rgba(31, 50, 87, 0.065),
      50%,
      rgba(122, 122, 122, 0) 70%
    ),
    // url("https://as2.ftcdn.net/v2/jpg/10/04/94/55/1000_F_1004945569_xJKKQZvqLrUkereHzNAfhdZB4qZpMk0U.jpg");
    // url("/assets/test2.jpg");
    url("/assets/test4.jpeg");
  background-size: cover;
  background-position: bottom-left;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;

  h4 {
    font-size: 3rem;
    font-weight: 600;
    letter-spacing: 0rem;
    margin-bottom: 0rem;
    margin-top: 2%;
    margin-left: 2%;
    color: var(--sunset1);
  }

  .titles {
    top: 40%;
    left: 3%;
    position: absolute;
    width: 45%;

    h1 {
      text-shadow: rgb(71, 71, 71) 1px 1px 6px;
      font-size: 3.5rem;
      font-family: "Barlow Condensed", sans-serif;
      font-weight: 700;
      letter-spacing: 0.2rem;
      margin-bottom: 0.5em;
    }

    h2 {
      text-shadow: rgb(71, 71, 71) 1px 1px 6px;
      font-size: 1.5rem;
      font-weight: 600;
      letter-spacing: 0.05rem;
      line-height: 1.2;
    }
  }

  .homepageHeroCta {
    position: absolute;
    bottom: 20%;
    left: 5%;
    width: 35%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media screen and (max-width: 1300px) {
    background-position: 25%;

    h4 {
      font-size: 2.5rem;
      font-weight: 600;
      letter-spacing: 0rem;
      margin-bottom: 0rem;
      margin-top: 2%;
      margin-left: 2%;
      color: var(--sunset1);
    }
    .titles {
      top: 37%;
      left: 3%;
      position: absolute;
      width: 53%;

      h1 {
        text-shadow: rgb(71, 71, 71) 1px 1px 6px;
        font-size: 3rem;
        font-family: "Barlow Condensed", sans-serif;
        font-weight: 700;
        letter-spacing: 0.2rem;
        margin-bottom: 0.5em;
      }

      h2 {
        text-shadow: rgb(71, 71, 71) 1px 1px 6px;
        font-size: 1.4rem;
        font-weight: 600;
        letter-spacing: 0.05rem;
        line-height: 1.2;
      }
    }
    .homepageHeroCta {
      position: absolute;
      bottom: 25%;
      left: 5%;
      width: 43%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  @media screen and (max-width: 1000px) {
    height: 100vh;
    background-position: 30%;

    h4 {
      font-size: 2rem;
      font-weight: 600;
    }

    .titles {
      top: 37%;
      left: 3%;
      position: absolute;
      width: 60%;

      h1 {
        text-shadow: rgb(71, 71, 71) 1px 1px 6px;
        font-size: 2.6rem;
        font-family: "Barlow Condensed", sans-serif;
        font-weight: 700;
        letter-spacing: 0.2rem;
        margin-bottom: 0.5em;
      }

      h2 {
        text-shadow: rgb(71, 71, 71) 1px 1px 6px;
        font-size: 1.2rem;
        font-weight: 600;
        letter-spacing: 0.05rem;
        line-height: 1.2;
      }
    }
    .homepageHeroCta {
      position: absolute;
      bottom: 25%;
      left: 5%;
      width: 45%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      button {
        font-size: 1.1rem;
      }
    }
  }
  @media screen and (max-width: 800px) {
    .titles {
      top: 35%;
      left: 3%;
      position: absolute;
      width: 70%;

      h1 {
        text-shadow: rgb(71, 71, 71) 1px 1px 6px;
        font-size: 2.3rem;
        font-family: "Barlow Condensed", sans-serif;
        font-weight: 700;
        letter-spacing: 0.2rem;
        margin-bottom: 0.5em;
      }

      h2 {
        text-shadow: rgb(71, 71, 71) 1px 1px 6px;
        font-size: 1.1rem;
        font-weight: 600;
        letter-spacing: 0.05rem;
        line-height: 1.2;
      }
    }
    .homepageHeroCta {
      position: absolute;
      bottom: 30%;
      left: 5%;
      width: 59%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  @media screen and (max-width: 600px) {
    background-position: 30%;

    .titles {
      top: 35%;
      left: 3%;
      position: absolute;
      width: 80%;

      h1 {
        text-shadow: rgb(71, 71, 71) 1px 1px 6px;
        font-size: 2.3rem;
        font-family: "Barlow Condensed", sans-serif;
        font-weight: 700;
        letter-spacing: 0.2rem;
        margin-bottom: 0.5em;
      }

      h2 {
        text-shadow: rgb(71, 71, 71) 1px 1px 6px;
        font-size: 1.2rem;
        font-weight: 600;
        letter-spacing: 0.05rem;
        line-height: 1.2;
      }
    }
    .homepageHeroCta {
      position: absolute;
      bottom: 30%;
      left: 5%;
      width: 90%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  @media screen and (max-width: 450px) {
    height: 90vh;
    background-position: 40%;

    h4 {
      font-size: 1.8rem;
      font-weight: 600;
    }

    .titles {
      top: 35%;
      left: 3%;
      position: absolute;
      width: 80%;

      h1 {
        text-shadow: rgb(71, 71, 71) 1px 1px 6px;
        font-size: 2rem;
        font-family: "Barlow Condensed", sans-serif;
        font-weight: 700;
        letter-spacing: 0.2rem;
        margin-bottom: 0.5em;
      }

      h2 {
        text-shadow: rgb(71, 71, 71) 1px 1px 6px;
        font-size: 1.1rem;
        font-weight: 600;
        letter-spacing: 0.05rem;
        line-height: 1.2;
      }
    }
    .homepageHeroCta {
      position: absolute;
      bottom: 19%;
      left: 5%;
      width: 90%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      button {
        font-size: 1.1rem;
        padding: 0.5rem 1rem;
      }
    }
  }
}
