.homepageHeroContainer {
  height: 110vh;
  display: flex;
  flex-direction: column;

  /* Conteneur de l'image */
  .imageWrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1; // Derrière le texte

    /* Pseudo-élément pour le filtre */
    &::after {
      content: "";
      position: absolute;
      inset: 0;
      background: linear-gradient(
        360deg,
        #000000fb 5%,
        rgba(22, 24, 26, 0.346) 20%,
        rgba(31, 50, 87, 0.065) 40%,
        rgba(122, 122, 122, 0) 60%
      );
    }
  }

  h4 {
    font-size: 3rem;
    font-weight: 600;
    letter-spacing: 0rem;
    margin-bottom: 0rem;
    margin-top: 2%;
    margin-left: 2%;
    color: var(--sunset1);
    text-shadow: #681a70 1px 1px 6px;
  }

  .titles {
    top: 40%;
    left: 28%;
    position: absolute;
    width: 45%;
    padding: 1rem;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;

    h1 {
      text-shadow: #681a70 1px 1px 6px;
      font-size: 3.2rem;
      font-family: "Barlow Condensed", sans-serif;
      font-weight: 700;
      letter-spacing: 0.2rem;
      margin-bottom: 0.5em;
    }

    h2 {
      text-shadow: rgb(255, 255, 255) 1px 1px 6px;
      font-size: 1.5rem;
      font-weight: 600;
      letter-spacing: 0.01rem;
      line-height: 1.2;
      color: #681a70;
    }

    .homepageHeroCta {
      margin-top: 5%;
      gap: 3rem;
      display: flex;
      align-items: center;
    }
  }

  @media screen and (max-width: 1300px) {
    .imageWrapper {
      img {
        object-position: 35% 0%;
      }
    }

    h4 {
      font-size: 2.5rem;
      font-weight: 600;
      letter-spacing: 0rem;
      margin-bottom: 0rem;
      margin-top: 2%;
      margin-left: 2%;
      color: var(--sunset1);
    }
    .titles {
      top: 37%;
      left: 30%;
      position: absolute;
      width: 55%;

      h1 {
        font-size: 3rem;
        font-family: "Barlow Condensed", sans-serif;
        font-weight: 700;
        letter-spacing: 0.2rem;
        margin-bottom: 0.5em;
      }

      h2 {
        font-size: 1.4rem;
        font-weight: 600;
        letter-spacing: 0.05rem;
        line-height: 1.2;
      }

      .homepageHeroCta {
        display: flex;
        align-items: center;
      }
    }
  }

  @media screen and (max-width: 1000px) {
    height: 100vh;

    h4 {
      font-size: 2rem;
      font-weight: 600;
    }

    .titles {
      top: 35%;
      left: 22%;
      position: absolute;
      width: 60%;

      h1 {
        font-size: 2.6rem;
        font-family: "Barlow Condensed", sans-serif;
        font-weight: 700;
        letter-spacing: 0.2rem;
        margin-bottom: 0.5em;
      }

      h2 {
        font-size: 1.2rem;
        font-weight: 600;
        letter-spacing: 0.05rem;
        line-height: 1.2;
      }

      .homepageHeroCta {
        display: flex;
        align-items: center;

        button {
          font-size: 1.1rem;
        }
      }
    }
  }
  @media screen and (max-width: 800px) {
    .titles {
      top: 35%;
      left: 15%;
      position: absolute;
      width: 70%;
      background-color: #ffffff49;

      h1 {
        font-size: 2.3rem;
        font-family: "Barlow Condensed", sans-serif;
        font-weight: 700;
        letter-spacing: 0.2rem;
        margin-bottom: 0.5em;
      }

      h2 {
        font-size: 1.1rem;
        font-weight: 600;
        letter-spacing: 0.05rem;
        line-height: 1.2;
      }

      .homepageHeroCta {
        display: flex;
        align-items: center;
      }
    }
  }

  @media screen and (max-width: 600px) {
    .titles {
      top: 35%;
      left: 3%;
      position: absolute;
      width: 80%;
      background-color: #ffffff49;

      h1 {
        font-size: 2.3rem;
        font-family: "Barlow Condensed", sans-serif;
        font-weight: 700;
        letter-spacing: 0.2rem;
        margin-bottom: 0.5em;
      }

      h2 {
        font-size: 1.2rem;
        font-weight: 600;
        letter-spacing: 0.05rem;
        line-height: 1.2;
      }

      .homepageHeroCta {
        display: flex;

        align-items: center;
        button {
          padding: 0.6rem 1rem;
        }
      }
    }
  }

  @media screen and (max-width: 450px) {
    height: 90vh;

    h4 {
      font-size: 1.8rem;
      font-weight: 600;
    }

    .titles {
      top: 35%;
      left: 3%;
      position: absolute;
      width: 80%;

      h1 {
        font-size: 2rem;
        font-family: "Barlow Condensed", sans-serif;
        font-weight: 700;
        letter-spacing: 0.2rem;
        margin-bottom: 0.5em;
      }

      h2 {
        font-size: 1.1rem;
        font-weight: 600;
        letter-spacing: 0.05rem;
        line-height: 1.2;
      }

      .homepageHeroCta {
        display: flex;

        align-items: center;

        button {
          font-size: 1.1rem;
          padding: 0.5rem 1rem;
        }
      }
    }
  }
}
