.homepageHeroContainer {
  height: 110vh;
  background:
    linear-gradient(
      360deg,
      #000000fb 10%,
      rgba(22, 24, 26, 0.346) 35%,
      rgba(31, 50, 87, 0.065),
      50%,
      rgba(122, 122, 122, 0) 70%
    ),
    // url("https://as2.ftcdn.net/v2/jpg/10/04/94/55/1000_F_1004945569_xJKKQZvqLrUkereHzNAfhdZB4qZpMk0U.jpg");
    // url("https://as2.ftcdn.net/v2/jpg/10/42/63/21/1000_F_1042632123_LVX247KXIpYcVHvuz82iOWQEWpzG9C9p.jpg");
    // url("/assets/homepage/homepage-hero.webp");
    url("https://uploads.pixecurity.com/files/Firefly_0cad4171-350e-45f6-86d4-58809ff432e9.webp");
  // url("/assets/test9.jpeg");
  // url("/assets/test4.jpeg");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;

  h4 {
    font-size: 3rem;
    font-weight: 600;
    letter-spacing: 0rem;
    margin-bottom: 0rem;
    margin-top: 2%;
    margin-left: 2%;
    color: var(--sunset1);
    text-shadow: #681a70 1px 1px 6px;
  }

  .titles {
    top: 40%;
    left: 27%;
    position: absolute;
    width: 50%;
    // background-color: #1184f03f;
    padding: 1rem;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;

    h1 {
      text-shadow: #681a70 1px 1px 6px;
      // text-shadow: rgb(0, 0, 0) 1px 1px 6px;
      font-size: 3.2rem;
      font-family: "Barlow Condensed", sans-serif;
      font-weight: 700;
      letter-spacing: 0.2rem;
      margin-bottom: 0.5em;
    }

    h2 {
      text-shadow: rgb(255, 255, 255) 1px 1px 6px;
      font-size: 1.5rem;
      font-weight: 600;
      letter-spacing: 0.01rem;
      line-height: 1.2;
      color: #681a70;
      // color: white;
    }

    .homepageHeroCta {
      // position: absolute;
      // bottom: 25%;
      // left:32%;
      // width: 35%;
      margin-top: 5%;
      gap: 3rem;
      display: flex;
      // justify-content: space-around;
      align-items: center;

      //   .ctaQuotation {
      //     background-color: white;
      //     color: var(--sunset1);
      //     border: 2px solid var(--sunset1);

      // }
    }
  }

  @media screen and (max-width: 1300px) {
    background-position: 25%;

    h4 {
      font-size: 2.5rem;
      font-weight: 600;
      letter-spacing: 0rem;
      margin-bottom: 0rem;
      margin-top: 2%;
      margin-left: 2%;
      color: var(--sunset1);
    }
    .titles {
      top: 37%;
      left: 30%;
      position: absolute;
      width: 55%;

      h1 {
        font-size: 3rem;
        font-family: "Barlow Condensed", sans-serif;
        font-weight: 700;
        letter-spacing: 0.2rem;
        margin-bottom: 0.5em;
      }

      h2 {
        font-size: 1.4rem;
        font-weight: 600;
        letter-spacing: 0.05rem;
        line-height: 1.2;
      }

      .homepageHeroCta {
        display: flex;
        align-items: center;
      }
    }
  }

  @media screen and (max-width: 1000px) {
    height: 100vh;
    background-position: 40%;

    h4 {
      font-size: 2rem;
      font-weight: 600;
    }

    .titles {
      top: 35%;
      left: 22%;
      position: absolute;
      width: 60%;

      h1 {
        font-size: 2.6rem;
        font-family: "Barlow Condensed", sans-serif;
        font-weight: 700;
        letter-spacing: 0.2rem;
        margin-bottom: 0.5em;
      }

      h2 {
        font-size: 1.2rem;
        font-weight: 600;
        letter-spacing: 0.05rem;
        line-height: 1.2;
      }

      .homepageHeroCta {
        display: flex;
        align-items: center;

        button {
          font-size: 1.1rem;
        }
      }
    }
  }
  @media screen and (max-width: 800px) {
    background-position: 5%;

    .titles {
      top: 35%;
      left: 15%;
      position: absolute;
      width: 70%;
      background-color: #ffffff49;

      h1 {
        font-size: 2.3rem;
        font-family: "Barlow Condensed", sans-serif;
        font-weight: 700;
        letter-spacing: 0.2rem;
        margin-bottom: 0.5em;
      }

      h2 {
        font-size: 1.1rem;
        font-weight: 600;
        letter-spacing: 0.05rem;
        line-height: 1.2;
      }

      .homepageHeroCta {
        display: flex;
        align-items: center;
      }
    }
  }

  @media screen and (max-width: 600px) {
    background-position: 10%;

    .titles {
      top: 35%;
      left: 3%;
      position: absolute;
      width: 80%;
      background-color: #ffffff49;

      h1 {
        font-size: 2.3rem;
        font-family: "Barlow Condensed", sans-serif;
        font-weight: 700;
        letter-spacing: 0.2rem;
        margin-bottom: 0.5em;
      }

      h2 {
        font-size: 1.2rem;
        font-weight: 600;
        letter-spacing: 0.05rem;
        line-height: 1.2;
      }

      .homepageHeroCta {
        display: flex;

        align-items: center;
        button {
          padding: 0.6rem 1rem;
        }
      }
    }
  }

  @media screen and (max-width: 450px) {
    height: 90vh;
    background-position: 20%;

    h4 {
      font-size: 1.8rem;
      font-weight: 600;
    }

    .titles {
      top: 35%;
      left: 3%;
      position: absolute;
      width: 80%;

      h1 {
        font-size: 2rem;
        font-family: "Barlow Condensed", sans-serif;
        font-weight: 700;
        letter-spacing: 0.2rem;
        margin-bottom: 0.5em;
      }

      h2 {
        font-size: 1.1rem;
        font-weight: 600;
        letter-spacing: 0.05rem;
        line-height: 1.2;
      }

      .homepageHeroCta {
        display: flex;

        align-items: center;

        button {
          font-size: 1.1rem;
          padding: 0.5rem 1rem;
        }
      }
    }
  }
}
