.shop_hero_carousel_container {
  width: 95%;
  margin: 0 auto;
  max-width: 1440px;
  padding-bottom: 3em;
  

  img {
    width: 100%;
    object-fit: cover;
    display : flex;
   margin :auto;  

  }
}
// media queries

@media (max-width: 900px) {
  .shop_hero_carousel_container {
    width: 90%;
    margin: auto;
  }
}

@media (max-width: 768px) {
  .shop_hero_carousel_container {
    width: 82%;
    margin: auto;
  }
}
