.shop_hero_carousel_container {
  width: 97%;
  margin: auto;

  img {
    max-width: 1440px;
    width: 100%;
    object-fit: cover;
  }
}
// media queries

@media (max-width: 768px) {
  .shop_hero_carousel_container {
    width: 85%;
    margin: auto;
  }
}
