.partnerContainer {
  min-height: 100vh;

  margin-top: 5.5rem;
  //   background-image: url(https://images.unsplash.com/photo-1483331986730-51d385173bd8?q=80&w=1674&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  //   background-size: cover;
  //   background-position: center;
  background: linear-gradient(
      180deg,
      #000000d7 10%,
      rgba(22, 24, 26, 0.346) 35%,
      rgba(31, 50, 87, 0.065),
      50%,
      rgba(122, 122, 122, 0) 70%
    ),
    url("https://images.unsplash.com/photo-1471469478635-911c1858d22e?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

  .partnerHeader {
    text-align: center;
    margin-bottom: 20px;
    max-width: 1440px;

    h1 {
      display: none;
    }
    img {
      width: 35rem;
      margin-bottom: 3rem;
      margin-top: 3rem;
    }
  }

  h2 {
    font-size: 2.3rem;
    color: var(--sunset1);
    font-weight: 600;
    line-height: 2.5rem;
    padding: 10px 15px;
    text-align: justify;
  }

  p {
    font-size: 1.1rem;
    color: white;
    line-height: 1.6;
    text-align: justify;
    padding: 20px;
    justify-content: center;
  }

  .section1 {
    max-width: 1440px;
    display: flex;
    width: 100%;
    justify-content: center;
    margin: auto;
    gap: 2rem;
    margin-bottom: 7rem;

    .partnerDescription {
      width: 40%;
      border-radius: 8px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .partnerVideo {
      width: 800px;
      height: 420px;
      border-radius: 8px;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      -ms-border-radius: 8px;
      -o-border-radius: 8px;
    }
  }

  .section2 {
    background-color: rgba(255, 255, 255, 0.887);
    width: 100%;
    padding: 6rem 0;

    .section2Content {
      max-width: 1440px;
      margin: auto;
      display: flex;
      gap: 2rem;
      justify-content: space-around;
      .partnerImage {
        width: 50%;
        img {
          width: 100%;
          object-fit: cover;
          border-radius: 8px;
        }
      }

      .partnerDescription {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        p {
          max-width: 1440px;
          border-radius: 8px;
          color: rgb(73, 73, 73);
          display: flex;
          flex-direction: column;
        }
      }
    }
  }
  .section3 {
    display: flex;
    width: 100%;
    padding: 8rem 0;
    align-items: center;
    justify-content: center;

    .section3Content {
      max-width: 1440px;
      margin: auto;
      display: flex;
      gap: 2rem;
      justify-content: space-around;
      .partnerImage {
        width: 50%;
        img {
          width: 100%;
          object-fit: cover;
          border-radius: 8px;
        }
      }

      .partnerDescription {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        p {
          max-width: 1440px;
          border-radius: 8px;
          display: flex;
          flex-direction: column;
        }
      }
    }
  }
  .section4 {
    height: 5vh;
    a {
      text-decoration: none;
      color: var(--sunset1);
      font-weight: 700;
      background-color: white;
      padding: 10px 20px;
      border-radius: 8px;
    }
  }
}
