.shopNavContainer {
  position: relative;
  width: 100%;
  background-color: var(--sunset1); // Couleur de fond principale
  height: 2.4rem;
  display: flex;
  align-items: center;
  z-index: 1000;
  position: fixed;

  .brandList {
    display: flex;
    width: 100%;
    list-style: none;
    padding: 10px 20px;
    gap : 40px;

    li {
      cursor: pointer;
      padding: 8px 30px;
      color: white;
      font-weight: 600;
      border-radius: 5px;
      transition: background 0.3s;
      font-size: 1.1rem;

      &:hover {
        background-color: #760498;
      }
    }
  }
}

.fullWidthMenu {
  position: fixed;
  top: 7.8rem;
  left: 0;
  width: 100%;
  min-height: 45vh;
  background: rgb(255, 254, 248); // Fond beige
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1100; // Assure que le menu est bien au-dessus
}

.categoryColumns {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  width: 100%;
  justify-content: space-evenly;
}

.categorySection {
  display: flex;
  flex-direction: column;
  // align-items: center;
  // text-align: center;
  max-width: auto;

  h2 {
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 15px;
    color: #6c1b74; 
    text-transform: uppercase;
  }

  ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  li {
    padding: 3px;

    a {
      text-decoration: none;
      color: #5d5c5c;
      font-weight: 500;
      font-size: 16px;

      &:hover {
        color: #9c27b0;
      }
    }

    &:hover {
      transform: scale(1.05);
      -webkit-transform: scale(1.05);
      -moz-transform: scale(1.05);
      -ms-transform: scale(1.05);
      -o-transform: scale(1.05);
    }
  }
}
