/* Désactiver le scroll du body lorsque le menu est actif */
body.no-scroll {
  overflow: hidden;
}

.shopNavContainer {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10; /* S'assurer que la nav ne passe pas sous d'autres éléments */
  padding-top: 5.5rem;
}

.burgerMenu {
  background-color: #760498;
  padding: 10px 20px;

  &:hover {
    background-color: rgb(83, 1, 83);
  }
}
.desktopMenu {
  width: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.brandBar {
  background-color: #6c1b74;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-self: center;
  position: absolute;
  z-index: 2;
  height: auto;
  width: 100%;
  text-align: center;
  justify-content: center;
}

.brandList {
  display: flex;
  gap: 0px;
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: center;
  padding: 0rem 1rem;
}

.brandList li {
  cursor: pointer;
  padding: 15px 20px;
  font-size: 1.1rem;
  color: white;
  font-weight: 500;

  &:hover {
    background-color: white;
    color: #760498;
  }
}
.categoryList {
  margin-top: 0rem;
  padding: 20px;
  background-color: #fffcf5;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: flex-start; /* Garde les éléments en haut */
  align-items: flex-start; /* Évite l'étirement des items */
  gap: 30px;
  padding-top: 7rem;
  max-height: 60vh; /* Ajuste la hauteur pour éviter un menu trop grand */
  min-height: 60vh;
  overflow-y: auto; /* Permet le scroll si nécessaire */

  // position: absolute; /* Assurer que ça ne perturbe pas la mise en page */
  top: 100%; /* Place sous la barre de navigation */
  left: 0;
  right: 0;
  z-index: 100;
}

.categoryList.active {
  display: block; /* Afficher quand active */
}

.categoryList h2 {
  font-size: 20px;
  color: purple;
  margin-bottom: 10px;
  font-weight: 600;
  max-width: 20rem;
  text-align: left;
  text-transform: uppercase;
}

.categoryList ul {
  list-style: none;
  max-width: 20rem;
}

.categoryList ul li {
  font-size: 16px;
  padding: 5px 0px;
  cursor: pointer;
  max-width: 20rem;
  a {
    text-decoration: none;
    color: black;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2); /* Assombrit légèrement */
  backdrop-filter: blur(8px); /* Applique un flou */
  -webkit-backdrop-filter: blur(8px); /* Compatibilité Safari */
  z-index: 1000; /* Assurez-vous qu'il est au-dessus du menu */
  opacity: 0;
  visibility: hidden;
  transition:
    opacity 0.3s ease-in-out,
    visibility 0.3s ease-in-out;
}

/* Activer l'overlay quand le menu est ouvert */
.overlay.active {
  opacity: 1;
  visibility: visible;
}

.mobileMenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fffcf5;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  z-index: 1500;
  padding: 20px 5px;
  color: black;
  overflow-y: auto; /* Permettre le défilement vertical */
  padding-top: 5.5rem;
}

.closeMenu {
  background-color: #760498;
  padding: 10px 20px;

  &:hover {
    background-color: rgb(85, 1, 85);
  }
}

.mobileBrandList {
  list-style: none;
  padding-top: 2rem;
  margin: 0;
}

.mobileBrandListLi {
  font-size: 1.1rem;
  font-weight: 600;
  padding: 10px 0;
  padding-left: 2rem;
  cursor: pointer;
  color: purple;
  font-size: 1.2rem;
}

.mobileCategoryList,
.mobileSubcategoryList {
  /* Limite la hauteur des listes mobiles */
  overflow-y: auto; /* Permettre le scroll vertical dans les sous-catégories */
}

.mobileCategoryList {
  margin-top: 0.5rem;
  padding-left: 2rem;
  color: black;

  li {
    font-size: 1rem;
    padding: 10px 0px;
    cursor: pointer;
    color: black;
  }
}

.mobileSubcategoryList {
  margin-top: 0.5rem;
  padding-left: 2rem;
  color: black;

  li {
    font-size: 1rem;
    padding: 10px 0px;
    cursor: pointer;
    color: black;

    a {
      text-decoration: none;
      color: rgb(88, 88, 88);
    }
  }
}

.burgerMenu {
  display: none;
}

@media screen and (max-width: 1024px) {
  .brandBar {
    display: none;
  }

  .burgerMenu {
    display: block;
  }

  .mobileMenu {
    display: block;
  }
}

@media screen and (min-width: 1024px) {
  .mobileMenu {
    display: none;
  }
}
