/* DEBUT RESET CSS */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/** FIN RESET CSS **/

body {
  font-family: "Barlow", sans-serif;
  margin: auto;
  color: white;
  background-color: #000000;
  
  button {
    padding: 0.6em 1.5em;
    margin : 0.1em;
    text-transform: uppercase;
    font-size: 1.3em;
    font-family: "Barlow Condensed", sans-serif;
    transition: 0.5s;
    color: white;
    border: 0px;
    font-weight: 500;
    box-shadow: 0px 0px 14px -7px #121e37;
    background-color: var(--sunset1);
    cursor: pointer;
    border-radius: 0.3em;
    -webkit-border-radius: 0.3em;
    -moz-border-radius: 0.3em;
    -ms-border-radius: 0.3em;
    -o-border-radius: 0.3em;

    &:hover {
      background-color: rgb(55, 194, 254);
      text-decoration: none;
      scale: 0.97;
    }
  }
}
  
  :root {
    --sunset1: #009fe3;
    --sunset2: #73c9ed;
    --sunset3: #b4e1f2;
    --sunset4: #e1f3f6;
    --sunset5: #f7fcfb;
    --sunset6: #ffffff;
  }

  /* Dans ton fichier CSS global ou module */
.cookie-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap; /* Permet aux boutons de passer à la ligne */
}

@media (max-width: 600px) {
  .cookie-buttons {
   margin-top : -9rem;
    gap:-0px;
  }
  .cookie-buttons button {
    width: 100%; /* boutons prennent toute la largeur dispo */
    min-width: unset;
  }
}
